<div class="container">
  <h2 id="menu-categories-title" class="text-center">Newsletter Signup</h2>
  <div class="text-center">
      Please enter your information below
  </div>

  <ng-form name='newsletterForm' novalidate>
    <input class="sign-up-text" type="text" name="firstName" placeholder="First"
      ng-model="reg.user.firstName"
      required
      minlength="4"
      ng-maxlength="10">
      <span
        ng-if="(newsletterForm.firstName.$error.minlength || newsletterForm.firstName.$error.required) && newsletterForm.firstName.$touched">
        firstName must be at least 4 characters long
      </span>
      <span ng-if="newsletterForm.firstName.$error.maxlength && newsletterForm.firstName.$touched">
        firstName must not be longer than 10 characters
      </span>
      <br>

    <input class="sign-up-text" type="text" name="lastName" placeholder="Last"
      ng-model="reg.user.lastName"
      required
      minlength="4"
      ng-maxlength="10">
      <span
        ng-if="(newsletterForm.lastName.$error.minlength || newsletterForm.lastName.$error.required) && newsletterForm.lastName.$touched">
        lastName must be at least 4 characters long
      </span>
      <span ng-if="newsletterForm.lastName.$error.maxlength && newsletterForm.lastName.$touched">
        lastName must not be longer than 10 characters
      </span>
      <br>

    <input class="sign-up-text" type="email" name="email" placeholder="Email"
      ng-model="reg.user.email"
      required>
      <span ng-if="newsletterForm.email.$invalid && newsletterForm.email.$touched">
        Must be a valid email address: handle@domain format
      </span>
      <br>

    <input class="sign-up-text" type="text" name="phone" placeholder="Phone ###-###-####"
      ng-model="reg.user.phone"
      pattern="(\d{3})-(\d{3})-(\d{4})"
      required>
      <span ng-if="newsletterForm.phone.$required && newsletterForm.phone.$touched">
        Phone required.
      </span>
      <span ng-if="newsletterForm.phone.$invalid && newsletterForm.phone.$touched">
        Phone must be in the format ###-###-####.
      </span>
      <br>

    <!-- <select ng-model="selectedFavMenuNum" ng-options="item.short_name for item in menuItems"></select> -->
    <!-- <select ng-options="item.short_name for item in menuItems"></select> -->

    <input class="sign-up-text" type="text" name="favMenuNum" placeholder="A11" ng-model="reg.user.favMenuNum">
      <br>
    

    <button style="color: black"
      ng-disabled="newsletterForm.$invalid"
      ng-click="reg.submit()">Sign Up</button>
  </ng-form>



</div>
